<div class="d-flex justify-content-between align-items-center text-center">
  <h5 class="pt-2">Prêmios:</h5>
  <div class="prize-item">
    <img src="../../assets/images/coin-tile.jpg" width="25" alt="" />
    Moeda<br>
    <small>Bônus p/ jogos - $10</small>
  </div>
  <div class="prize-item">
    <img src="../../assets/images/diamond-tile.jpg" width="25" alt="" />
    Tesouro<br>
    <small>Freebet sports - $20</small>
  </div>
  <div class="prize-item">
    <img src="../../assets/images/ticket-tile.jpg" width="25" alt="" />
    Ticket<br>
    <small>FreeTicket - Bingo</small>
  </div>
  <div class="prize-item">
    <img src="../../assets/images/bomb-tile.jpg" width="25" alt="" />
    Bomba<br>
    <small>Acaba o jogo</small>
  </div>
</div>
<hr class="secondary-subtle py-1">
